

.custom-container {
    position: relative;
    margin-top: 28px;
    min-height: 30px;
    width: 100%;
    border-top: 1px solid #00ac5b;
    background-color: #d8ecd4;
}

.custom-banner {
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translateX(-50%);
    width: max-content;
    min-width: 260px;
}

.custom-banner::before {
    content: "";
    position: absolute;
    left: -9px;
    top: -1px;
    border-right: 9px solid #00ac5b;
    border-top: 16px solid transparent;
    border-right-color: #3b854e;
}

.custom-banner::after {
    content: "";
    position: absolute;
    right: -9px;
    top: -1px;
    border-left: 9px solid #00ac5b;
    border-top: 16px solid transparent;
    border-left-color: #3b854e;
}

.custom-banner-text {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    margin-left: 15px;
    background-color: #00ac5b;
    /* Set the background color here */
    color: #fff;
    /* Set the text color here */
}

.custom-banner-border {
    border: 1px solid #00ac5b;
    border-radius: 3px;
    padding: 7px;
    background-color: #00ac5b;
}
/*                                   New                                      */
.bg {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.bg-loaded {
    opacity: 1;
}
:root {
    --primary-color: #1f8b48;
}

html {
    background-color: #e9edf0 !important;
}

.sticky-add-to-cart--active,
#wrapper,
#main,
#main.dark {
    background-color: #e9edf0
}

.header-main {
    height: 55px
}

#logo img {
    max-height: 55px
}

#logo {
    width: 218px;
}

#logo img {
    padding: 4px 0;
}

.header-bottom {
    min-height: 21px
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 30px
}

.transparent #logo img {
    max-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 80px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.search-form {
    width: 90%;
}

.header-bg-color,
.header-wrapper {
    background-color: #008f4a
}

.header-bottom {
    background-color: rgba(255, 255, 255, 0)
}

.header-main .nav>li>a {
    line-height: 16px
}

.stuck .header-main .nav>li>a {
    line-height: 50px
}

.header-bottom-nav>li>a {
    line-height: 9px
}

@media (max-width: 549px) {
    .header-main {
        height: 45px
    }

    #logo img {
        max-height: 45px
    }
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #1f8b48;
}

/* Color !important */
[data-text-color="primary"] {
    color: #1f8b48 !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #1f8b48;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #1f8b48;
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #1f8b48
}

.nav-tabs>li.active>a {
    border-top-color: #1f8b48
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #1f8b48
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #1f8b48
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #1f8b48;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button {
    background-color: #1f8b48;
}

[data-text-bg="secondary"] {
    background-color: #1f8b48;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #1f8b48
}

/* Color !important */
[data-text-color="secondary"] {
    color: #1f8b48 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #1f8b48
}

.success.is-underline:hover,
.success.is-outline:hover,
.success {
    background-color: #0064c2
}

.success-color,
.success.is-link,
.success.is-outline {
    color: #0064c2;
}

.success-border {
    border-color: #0064c2 !important;
}

/* Color !important */
[data-text-color="success"] {
    color: #0064c2 !important;
}

/* Background Color */
[data-text-bg="success"] {
    background-color: #0064c2;
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Helvetica,Arial,sans-serif", sans-serif
}

body {
    font-weight: 0
}

.nav>li>a {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

.nav>li>a {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

.alt-font {
    font-family: "Helvetica,Arial,sans-serif", sans-serif;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 220px !important;
        width: 220px !important;
    }
}

.absolute-footer,
html {
    background-color: #000000
}

button[name='update_cart'] {
    display: none;
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}